<audio muted autoplay loop>
  <source src="/images/uw_bathrooms.mp3" type="audio/mpeg">
</audio>


<div class="db w-100 cf center bt b--purple bw1 f5-ns f6 lh-title">

	<div class="db center w-100 pv3 mb2 cf ph4" style="max-width: 65rem;">
		<!-- <img src="/images/volume_off.svg" id="mute-button" class="db pointer fl" style="width: 1.5rem;" /> -->

		<div class="w-50 fl">
			<span class="fw5">UW Bathrooms</span><br>
			2012–2016
		</div>

		<div class="w-50 fl pl3-ns pl0">
			Ambient Sounds: <span id="mute-button" class="pointer">Off</span>
		</div>

	</div>


</div>