---
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<link href="{{site.baseurl}}/css/lity.css" rel="stylesheet">

<body id="detail" class="f4-l f5 purple lh-copy">

	<div class="w-100 db center bb b--purple bw1">

		<div class="pt3 mb3 center cf bb b--purple bw1 pb3">

			<div class="mt3 ph4 center" style="max-width: 65rem;">

				<div class="w-50 fl cf">

					<div class="f3 fl lh-solid navArrow" style="width: 1.4rem;">
						<a href="/" class="pointer"><img src="{{site.baseurl}}/images/arrow.svg" style="width: 1rem; margin-top: 0; cursor: pointer;"></a>
					</div>

					<div class="fl f4-l f5 fw5 mt0 mb2 lh-title w-80">
						{{page.building}}<br>
						<span class="fw4">{{page.room}}</span>
					</div>
					
				</div>

				<div class="w-50 fl pl3-ns pl0 noselect">

					<p class="f5-l f6 mt0 mb2 lh-title w-50-ns w-100 fl">
						Published:<br>
						{{page.review_date | date: "%B %d, %Y"}}
					</p>

					{% if page.photo_date %}
					<p class="f5-l f6 mt0 mb2 lh-title w-50-ns w-100 fl">
						Photos:<br>
						{{page.photo_date | date: "%B %d, %Y"}}
					</p>
					{% endif %}
					
				</div>
			</div>
			
		</div>

		<!-- content -->
		<div class="mv3 center cf pb4-ns pb3">

			<div class="mt3 ph4 center" style="max-width: 65rem;">

				<div class="fl w-100 columns">

					{{content | markdownify | widont | hyphenate | replace: '&amp;amp;', '&amp;' | replace: '-­', '-' }}

				</div>


			</div>

		</div>
		
	</div>

	{% include map.html %}
	{% include directory.html %}

	{% include footer.html %}

	</body>

  	<script src="{{site.baseurl}}/css/lity.js"></script>

	<script type="text/javascript"> 

	$(document).ready(function(){

		// Bind as an event handler
		$(document).on('click', '[data-lightbox]', lity);

		$("audio").prop('muted', true);

		$("#mute-button").click( function (){
			if( $("audio").prop('muted') ) {
		      $("audio").prop('muted', false);
		      $(this).text("On");
			} else {
			  $("audio").prop('muted', true);
		      $(this).text("Off");
			}
		});
	    
	});

	</script>





</html>