---
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

<body id="detail" class="f4-ns f5 purple lh-copy">

	<div class="w-100 db center">

		<div class="pt3 mb3 center cf bb b--purple bw1 pb3">

			<div class="mt3 ph4 center" style="max-width: 65rem;">
				<div class="w-50-ns w-75 fl">

					<h1 class="f4-ns f5 mt0 mb2 lh-title">
						Alder Hall<br>
						<span class="fw4">1<span class="ordinal">st</span> Floor</span>
					</h1>
					
				</div>

				<div class="w-50-ns w-25 fl">

					<p class="f5 mt0 mb2 lh-title w-50-ns w-100 fl">
						Published:<br>
						April 26, 2012
					</p>

					<p class="f5 mt0 mb2 lh-title w-50-ns w-100 fl">
						Published:<br>
						April 26, 2012
					</p>
					
				</div>
			</div>
			
		</div>

		<!-- content -->
		<div class="mv3 center cf bb b--purple pb3">

			<div class="mt3 ph4 center" style="max-width: 65rem;">
				
				<div class="fl w-50-ns w-100 pr4-ns pr0">

					<img class="w-100 mb3" src="/uw_bathrooms/images/test/1.jpg" />
					<img class="w-100" src="/uw_bathrooms/images/test/2.jpg" />

				</div>

				<div class="fl w-50-ns w-100">

					<p class="mt0">
						We see a couple problems with this right off the bat.  The first one we have identified is that we have no basis for reviewing women’s restrooms.  The second problem is that our schedules will strongly bias which bathrooms we will tend to use the most.  We hope to correct these problems by a) finding a girl to join our review board and b) be more adventurous with our bathroom selection in an attempt to capture the spirit of the website.  And obviously we’re not going to post as much during any midterms and finals that we have.  We also realize that we’re going to run out of synonyms and euphemisms for peeing and pooping at some point, so don’t get offended if we just refer to our “business” as such.  Besides, using the words “pee” and “poop” are funnier than the politically correct terms.
					</p>

				</div>


			</div>

		</div>
		
	</div>

</body>
</html>