---
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

<body id="detail" class="f4-ns f5 purple lh-copy">

	<div class="w-100 db center">

		<div class="pt3 mb3 center cf bb b--purple bw1 pb3">

			<div class="mt3 ph4 center" style="max-width: 65rem;">
				<div class="w-50 fl">

					<h1 class="f4-ns f5 mt0 mb2 lh-title">
						{{page.building}}<br>
						<span class="fw4">{{page.room}}</span>
					</h1>
					
				</div>

				<div class="w-50 fl pl3-ns pl0 noselect">

					<p class="f5 mt0 mb2 lh-title w-50-ns w-100 fl">
						Published:<br>
						{{page.review_date | date: "%B %d, %Y"}}
					</p>

					{% if page.photo_date %}
					<p class="f5 mt0 mb2 lh-title w-50-ns w-100 fl">
						Photos:<br>
						{{page.photo_date | date: "%B %d, %Y"}}
					</p>
					{% endif %}
					
				</div>
			</div>
			
		</div>

		<!-- content -->
		<div class="mv3 center cf bb b--purple bw1 pb4">

			<div class="mt3 ph4 center" style="max-width: 65rem;">
				
				<!-- <div class="fl w-50-ns w-100 pr4-ns pr0">

					<img class="w-100 mb3" src="/uw_bathrooms/images/test/1.jpg" />
					<img class="w-100" src="/uw_bathrooms/images/test/2.jpg" />

				</div> -->

				<!-- <div class="fl w-100 columns" style="text-align: justify;"> -->
				<div class="fl w-100 columns">

					{{content | markdownify | widont | hyphenate | replace: '&amp;amp;', '&amp;' | replace: '-­', '-' }}

				</div>


			</div>

		</div>
		
	</div>

</body>
</html>