---
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}

	<body id="home" class="f4-ns f5 purple lh-copy">

		<div class="w-100 db noselect bg-purple vh-100-l vh-75-m vh-50">
			<div class="w-100 db center h-100" style="display: flex; align-items: center; justify-content: center; max-width: 65rem;">
				<img src="images/hero_text.svg" class="db center absolute wiggle orbit3" style="max-width: 62rem;">
				<img src="images/toilet.svg" class="db center wiggle orbit1" style="max-width: 62rem; margin-top: -1em;">
				<img src="images/sink.svg" class="db absolute center wiggle orbit2" style="max-width: 62rem;  margin-top: -2.5em;">
			</div>
		</div>

		<!-- Intro -->
		<div class="w-100 db center bt bb b--purple bw1" id="foreword">

			<div class="mt3 mb2 center ph4 cf introWrapper" style="max-width: 65rem;">
				
				<div class="columns intro mb4 mt3">

					<h1 class="f4-ns f5 mb2 mt0">Foreword</h1>
					
					{% for i in site.snippets %}
						{% if i.title == "Intro" %}
							{{ i.content | markdownify | widont | hyphenate | replace: '&amp;amp;', '&amp;' }}
						{% endif %}
					{% endfor %}

				</div>

				<p class="read-more w-100 lh-solid noselect"><a href="" class="read-more-button link purple">Read more<br><i class="fas fa-chevron-down" style="font-size: 0.7em;"></i></a></p>

			</div>

		</div>

		{% include directory.html %}

		{% include footer.html %}

	</body>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous">
  	</script>

	<script type="text/javascript"> 

	$(document).ready(function(){

		$(".wiggle").delay( 2000 ).css("opacity", 1);

		$(".read-more-button").click(function(e) {

		  $(".introWrapper").css("max-height", "none");
		  $(".read-more").css("display", "none");
		  e.preventDefault();
		    
		});

		$("audio").prop('muted', true);

		$("#mute-button").click( function (){
			if( $("audio").prop('muted') ) {
		      $("audio").prop('muted', false);
		      $(this).text("On");
			} else {
			  $("audio").prop('muted', true);
		      $(this).text("Off");
			}
		});
	    
	});

	</script>

</html>